
  #tooltip {
    position: absolute;
    padding: 2px;
    pointer-events: none;
    border-radius: 4px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    font: 12px sans-serif;
    color: #030303;
    line-height: 1;
    padding: 12px;
    background: rgb(250, 247, 247);
    color: rgb(19, 18, 18);
    border-radius: 2px;
}

svg{
  overflow:visible;
}
0:WORLD
1: Rheumatic heart disease
2: Ischemic heart disease
3: Ischemic stroke
4: Intracerebral hemorrhage
5: Subarachnoid hemorrhage
6: Hypertensive heart disease
7: Non-rheumatic calcific aortic valve disease
8: Non-rheumatic degenerative mitral valve disease
9: Other non-rheumatic valve diseases
10: Myocarditis
11: Alcoholic cardiomyopathy
12: Other cardiomyopathy
13: Pulmonary arterial hypertension
14: Atrial fibrillation and flutter
15: Aortic aneurysm
16: Lower extremity peripheral arterial disease
17: Endocarditis
18: Other cardiovascular and circulatory diseases
    19: "Andean Latin America"
    20: "Australasia"
    21: "Caribbean"
    22: "Central Asia"
    23: "Central Europe"
    24: "Central Latin America"
    25: "Central Sub-Saharan Africa"
    26: "East Asia"
    27: "Eastern Europe"
    28: "Eastern Sub-Saharan Africa"
    29: "High-income Asia Pacific"
    30: "High-income North America"
    31: "North Africa and Middle East"
    32: "Oceania"
    33: "South Asia"
    34: "Southeast Asia"
    35: "Southern Latin America"
    36: "Southern Sub-Saharan Africa"
    37:"Tropical Latin America"
    38: "Western Europe"
    39: "Western Sub-Saharan Africa"






