section.selectedEvalOrRec section.toggleEvalrecs {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tooltip-container {
    position: relative;
  }
  .tooltip-container:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
    transition: 0.25s all ease;
    transition-delay: 0s;
    top: -65px;
  }

  .tooltip-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: #fff;
    left: -38px;
    top: -45px;
    padding: 0 15px;
    margin: 16px;
    font-size: 15px;
    width: 250px;
    transition: 0.25s all ease;
    transition-delay: 0.25s;
    z-index: 2;
    color: #004176;
    box-shadow: 2px 2px 5px #9a9a9a;
  }
  .tooltip-content:after {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    top: 100%;
    left: 17px;
    border-color: #ffffff transparent transparent transparent;
  }

  p.guidelineItem{
    position: relative;
  }

  p.guidelineItem:before{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    content:"I";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -1.25rem;

  }

  p.guidelineItem.IIb:before{
    content:"IIb";
  }

  .br-l_10{
    border: 0;
    border-left: 2rem solid;
  }